services:
  web:
    container_name: WebChat
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py collectstatic --no-input &&
      daphne -b 0.0.0.0 -p 8000 WebChat.asgi:application
      "

    volumes:
      - WebChat_staticfiles:/app/staticfiles
      - WebChat_media:/app/media

  db:
    image: postgres:16-alpine
    env_file:
      - ./.env
    volumes:
      - WebChat_postgres_data:/var/lib/postgresql/data


  celery:
    build: .g
    command: celery -A WebChat worker -l info
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - redis


  redis:
    image: redis:7-alpine

volumes:
  WebChat_postgres_data:
  WebChat_media:
  WebChat_staticfiles: