services:
  web:
    container_name: webchat
    build:
      dockerfile: Dockerfile
      context: .
    image: webchat:latest
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy

    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py collectstatic --no-input &&
      daphne -b 0.0.0.0 -p 8000 WebChat.asgi:application
      "

    volumes:
      - staticfiles:/app/staticfiles
      - media:/app/media

  celery:
    image: webchat:latest
    command: celery -A WebChat worker -l info
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      redis:
        condition: service_healthy
      web:
        condition: service_started

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  media:
  staticfiles:
  redis_data: