channels>=4.0
channels_redis==4.3.0
daphne==4.2.1
Django>=4.2
django-allauth==65.10.0
gunicorn==23.0.0
oauthlib==3.3.1
pillow==11.3.0
psycopg==3.2.9
PyJWT==2.10.1
python-decouple==3.8
python3-openid==3.2.0
redis==6.2.0
requests==2.32.4
requests-oauthlib==2.0.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
urllib3==2.5.0
whitenoise==6.9.0