name: main.yml
on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Create .env file
        run: echo "${{ secrets.WEBCHAT }}" > .env

      - name: Build Images
        run: docker compose build

      - name: Start services
        run: docker compose up -d

      - name: Wait for services to be healthy
        run: |
          echo "Waiting for services to be healthy..."
          sleep 20

      - name: Run tests
        run: docker compose exec -T web python manage.py test --settings=WebChat.settings_test

      - name: Show logs on failure
        if: failure()
        run: docker compose logs --tail=200 web

      - name: Stop services
        if: always()
        run: docker compose down -v
